In [16]:
import pandas as pd

In [185]:
buildings = pd.read_csv("ashrae-energy-prediction/building_metadata.csv", index_col='building_id')
train = pd.read_csv("ashrae-energy-prediction/train.csv")
weather_train = pd.read_csv("ashrae-energy-prediction/weather_train.csv")

In [14]:
test = pd.read_csv("ashrae-energy-prediction/test.csv")
weather_test = pd.read_csv("ashrae-energy-prediction/weather_test.csv")

In [165]:
sample_submission = pd.read_csv("ashrae-energy-prediction/sample_submission.csv")

In [ ]:
tr=train['building_id']==0

In [196]:
train.

          building_id  meter            timestamp  meter_reading
0                   0      0  2016-01-01 00:00:00          0.000
1                   1      0  2016-01-01 00:00:00          0.000
2                   2      0  2016-01-01 00:00:00          0.000
3                   3      0  2016-01-01 00:00:00          0.000
4                   4      0  2016-01-01 00:00:00          0.000
...               ...    ...                  ...            ...
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

[20216100 rows x 4 columns]